body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#start-button{
    position: absolute;
    margin: 0 auto;
    transform: translateY(3rem);
    background: none;
    border: none;
}
#start-img{
    width: 13rem;
    image-rendering: pixelated;

}
#start-img:hover{ 
    transform: scale(1.1)
}

#canvas {
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid black;
    image-rendering: pixelated;
    width: 800px;
    height: 500px;
    transform: translateY(2.5rem);
}

#movements {
    position: absolute;
    left: 19.9rem;
    bottom: 3.8rem;
    image-rendering: pixelated;
}


