body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#start-button{
    position: absolute;
    cursor: pointer;
    margin: 0 auto;
    transform: translateY(2.5rem);
}

#canvas {
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid black;
    image-rendering: pixelated;
    width: 800px;
    height: 500px;
    transform: translateY(2.5rem);
}



